

</div>
</div>
<div class="container" id="footerFont">
    <div class="row">
        <hr>

        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h5 style="text-align: center; color : black">Copyright &copy; 2017 JK All Rights Reserved</h5>
            <h5 style="text-align: center; color : black">Made by Dongho Choi</h5>

        </div>

        <div class="col-md-4">
            <div class="pull-right">
                <a href="/categorysearch" class="btn pull-right" style="color : black">
                    <span class="glyphicon glyphicon-search" style="font-size : 30px;"></span>
                </a>
                <a href="/checkout/nomember" class="btn pull-right" style="color : black">
                    <span class="glyphicon glyphicon-plane" style="font-size : 30px;"></span>
                </a>
                <a href="/order" class="btn btn-align-left" style="color : black">
                    <span class="glyphicon glyphicon-eye-open" style="font-size : 30px;"></span>
                </a>
                <a href="/admin" class="btn btn-align-left" style="color : black">
                    <span class="glyphicon glyphicon-circle-arrow-up" style="font-size : 30px;"></span>
                </a>

                <a href="/adminMusic" class="btn btn-align-left" style="color : black">
                    <span class="glyphicon glyphicon-music" style="font-size : 30px;"></span>
                </a>
                <a href="/cart" class="btn btn-align-left" style="color : black">
                    <span class="glyphicon glyphicon-shopping-cart" style="font-size : 30px;"></span>
                </a>
            <%if(isLogin){%>
            <div class="pull-right">
                <a href="/accounts/logout" class="btn btn-align-left" style="color : black">
                    <span class="glyphicon glyphicon-log-out" style="font-size : 30px;"></span>
                </a>
            </div>
            <%}%>
        </div>

    </div>
</div>
</body>
</html>