<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan">
    <title>JK's BOOTH ROOM</title>
    <style>
        body{

            background-color: rgba(189, 189, 189, 0.17);

        }
        hr{
            border :  solid 1px black;
        }

        .main_banner{
            padding-top: 30px;
            border-radius : 10px;
            margin-bottom: 30px;
            color: inherit;


        }
        .main_booth_banner{
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 30px;
            color: inherit;
            background-color : white;
        }

        img {


            width : 100%;
            height : 100%;
            border-radius: 5px;







        }



        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;

        }

        .noimage img {
            display : none;

        }

        #colmd3 {
            width : 25%;
            height : 250px;
            margin-bottom : 10px;
            padding-right :5px;
            padding-left : 5px;
        }

        @media (max-width : 992px){
            #colmd3 {
                height : 150px;
                width : 33%;
                object-fit : cover;
                margin-bottom : 10px;
                padding-right : 2px;
                padding-left : 2px;
            }
        }

        #mainFont {
            font-family: 'Baloo+Bhaijaan', Baloo Bhaijaan;
            font-size : 65px;
        }

        #footerFont {
            font-family: 'Baloo+Bhaijaan', Baloo Bhaijaan;

        }

        #bannerFont {
            font-family: 'Baloo+Bhaijaan', Baloo Bhaijaan;


        }

        #bigBanner, a:hover {
            color: white;

        }
        #bigBanner, a:hover {
            color:white;
            text-decoration: none;
        }

        #modalImage {
            border-radius: 10px;
            width:100%;
            height : 100%;
            object-fit : cover;
        }






    </style>
</head>
<body>
<div class="container">
    <div class="main_banner">

        <a href="/" class="btn btn-align-left" style="color : black">
            <span class="glyphicon glyphicon-home"></span>
        </a>

        <div id="mainFont" style="color : black; text-align: center">
            JK's BOOTH

        </div>





        <div class="row">
            <hr>
        </div>