<% include ../header.ejs%>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">회원가입</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="" id="join_form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="ID" name="userID" type="text" autofocus="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="userPassword" type="password" value="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password 확인" name="userPassword2" type="password" value="" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="이름" name="displayName" type="text" value="" required="">
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="가입하기">
                        <div style="margin-top: 10px">
                            <a href="/authFacebook/facebook" class="btn btn-lg btn-primary btn-block">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i> 페이스북 회원가입
                            </a>
                        </div>
                        <div style="margin-top: 10px">
                            <a href="/authKakao/login" class="btn btn-lg btn-warning btn-block">
                                <i class="ka ka-facebook-square" aria-hidden="true"></i> KAKAO 회원가입
                            </a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function(){
        $(document).ready(function() {
            $('#join_form').submit(function(){
                var $usernameInput = $('#join_form input[name=userID]');
                var $passwordInput = $('#join_form input[name=userPassword]');
                var $passwordInput2 = $('#join_form input[name=userPassword2]');
                var $displayname = $('#join_form input[name=displayName]');

                if(!$usernameInput.val()){
                    alert("아이디를 입력해주세요.");
                    $usernameInput.focus();
                    return false;
                }
                if(!$passwordInput.val()){
                    alert("패스워드를 입력해주세요.");
                    $passwordInput.focus();
                    return false;
                }
                if(!$passwordInput2.val()){
                    alert("확인 패스워드를 입력해주세요.");
                    $passwordInput2.focus();
                    return false;
                }
                if(!$displayname.val()){
                    alert("이름을 입력해주세요.");
                    $displayname.focus();
                    return false;
                }
                if($passwordInput.val() !== $passwordInput2.val()){
                    alert("패스워드와 확인용패스워드를 똑같이 입력해주세요.");
                    return false;
                }
                return true;
            });
        });
    })();
</script>
</div>
</div>
<%include ../footer.ejs%>