<%include ../header.ejs%>
<form action="" method="post" id="writeForm" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <table class="table table-bordered">
        <tr>
            <td>제품명</td>
            <td><input type="text" id="productName" name="name" class="form-control" value=""/></td>
        </tr>

        <tr>
            <td>섬네일</td>
            <td>
                <input type="file" class="form-control" name="thumbnail" multiple>
            </td>
        </tr>
        <tr>
            <th>설명</th>
            <td>
                <textarea name="description" class="form-control" id="summernote"></textarea>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary">작성하기</button>
</form>
<script>
    (function(){
        $(document).ready(function(){
            $('#writeForm').submit(function(){
                var $productName = $('#productName').val();
                if(!$productName){
                    alert("제품명을 입력해주세요")
                    return false;
                }


            })

        })

    })();
</script>

<!-- 스타일관련 -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
<!-- 자바스크립트관련 -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
<!-- 한글관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>

<script>
    $(document).ready(function(){

        $('#summernote').summernote({
            lang: 'ko-KR',
            height: 300,
            callbacks : {
                onImageUpload: function(files) {
                    for(var i = 0;i<files.length;i++){
                        sendFile(files[i]);
                    }


                }
            }
        });

        function sendFile(file, editor, welEditable) {
            data = new FormData();
            data.append("thumbnail", file);
            $.ajax({
                data: data,
                type: "POST",
                url: '/photoupload/ajax_summernote',
                cache: false,
                contentType: false,
                processData: false,
                success: function(url) {
                    $('#summernote').summernote("insertImage", url);
                }
            });
        }


    });
</script>

<%include ../footer.ejs%>